.app-layout {
  display: grid;
  grid-template: var(--layout) / 1fr;
  justify-content: center;
  justify-items: center;
  align-content: start;
  padding: calc(var(--micromodule) * 2);
  box-sizing: border-box;
  max-width: 1920px;
  min-height: inherit;
  --base-row: var(--base-module);
  --margins: minmax(0, var(--base-module));
  --expanded-row: calc(var(--base-module) + var(--micromodule));
  --layout: var(--margins) var(--expanded-row) var(--base-row) var(--expanded-row) var(--margins);
}

.layout__header {
  place-self: start;
  margin: 0;
  font: inherit;
}

@media screen and (orientation: landscape) {
  .app-layout {
    grid-template: 1fr / var(--layout);
    justify-items: center;
    align-items: center;
  }
}