@font-face {
  font-weight: 550;
  font-family: "Monsterrat";
  font-style: normal;
  font-display: swap;
  src:
    url("/assets/fonts/montserrat-subset.ttf") format("truetype-variations"),
    url("/assets/fonts/montserrat-subset.woff") format("woff-variations"),
    url("/assets/fonts/montserrat-subset.woff2") format("woff2-variable");
}

body {
  font-size: 16px;
  font-family: "Monsterrat", sans-serif;
  letter-spacing: -0.008em;
}

:root {
  --color-background: #eef3f6;
  --color-accent: #005bff;
  --easing: cubic-bezier(0.6, .5, .55, 1.05);
  --micromodule: 10px;
  --base-module: calc(var(--micromodule) * 10);
}