:host,
.progress__circle {
  aspect-ratio: 1/1;
  position: relative;
  max-width: 100%;
  max-height: 100%;

  transition: filter 60ms ease-in;

  --progress-spinner__value: 0;
  --diameter: 100%;
  --radius: calc(var(--diameter) / 2);
  --length: calc(2 * 3.14 * var(--radius));
}

.progress__circle::before {
  position: absolute;
  inset: -5px;
  display: block;
  border: var(--micromodule) var(--color-background) solid;
  border-radius: 100vh;
  content: "";
}

.progress__circle--hidden {
  filter: opacity(0);
}

.progress__range {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
  stroke: var(--color-accent);
  stroke-dasharray: var(--length);
  stroke-dashoffset: calc(var(--length) * (var(--progress-spinner__max-value) - var(--progress-spinner__value)) / var(--progress-spinner__max-value));
  stroke-width: 10px;
  fill: none;
  animation: cancelRotation 200ms var(--easing) 1 both;
  transition:
    stroke-dashoffset 200ms var(--easing)
  ;
  --base-rotation: -90deg;
  --current-rotation: 0;
}

.progress__circle--animated > .progress__range {
  animation: rotate 1s linear infinite both;
}

@keyframes cancelRotation {
  from {
    transform: rotateZ(var(--current-rotation));
  } to {
    transform: rotateZ(var(--base-rotation));
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(var(--base-rotation));
  }
  to {
    --current-rotation: calc(var(--base-rotation) + 1turn);
    transform: rotateZ(var(--current-rotation));
  }
}